body {

    background-image: url(/imagenes/personajes/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

header {

    height: 101px;
    background-color: #112633;
    display: flex;
    justify-content: center;

}

.logopr {

    position: absolute;
    justify-content: center;
    top: -30px;
    width: 170px;
    height: 170px;

}

nav {

    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 100;
    font-style: normal;
    color: #a4d5d9;
    background-color: #193543;
    text-align: center;
    font-size: 18px;
    padding: auto;


}

nav ul {

    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: center;
    margin-right: 41px;

}

nav li {

    padding: 20px;
    margin-inline: 90px;
}

nav a {

    color: #a4d5d9;
    font-weight: bolder;
    text-decoration: none;

}


main{

     background-color: #1935435b;
}

h1 {

    display: inline-block;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    
    font-style: normal;
    color: #a4d5d9;
    background-color: #19354386;

}

.contenedor-h1 {

    text-align: center;
}


article{

    margin: 2%;
}


.bloquepersonajes {

    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    color: #a4d5d9;
    font-size: 18px;
    margin-top: 1%;
    margin-left: 1%;
    

}

.collage {

    height: 420px;
    margin: auto;
}

.collage2 {

    width: 55%;
    margin: auto;
    display: block;




}

.collage3 {

    height: 410px;
    margin: auto;
}


.collage4 {

    display: block;
    height: 420px;
    width: auto;
    margin: auto;
    justify-content: center;

}


h4 {

    width: fit-content;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    padding: 20px;
    background-color: #19354386;
}

.contenedor-h4 {

    text-align: center;
}

p {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 21px;
    background-color: #19354386;
}

.lista {

    list-style: none;
    
}

.item2 {

    display: inline-block;
}

footer {

    text-align: center;
    background-color: #112633;
    color: #a4d5d9;
}

.contact {
    list-style: none;
}

.listas-foot {

    display: flex;
    justify-content: center;
}

.social {

    height: 200px
}

a {
     color: #a4d5d9;
     text-decoration: none;
}