body {

    background-image: url(/imagenes/curiosidades/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

header {

    height: 101px;
    background-color: #112633;
    display: flex;
    justify-content: center;

}

.logopr {

    position: absolute;
    justify-content: center;
    top: -30px;
    width: 170px;
    height: 170px;

}

nav {

    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 100;
    font-style: normal;
    color: #a4d5d9;
    background-color: #193543;
    text-align: center;
    font-size: 18px;
    padding: auto;


}

nav ul {

    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: center;
    margin-right: 41px;

}

nav li {

    padding: 20px;
    margin-inline: 90px;
}

nav a {

    color: #a4d5d9;
    font-weight: bolder;
    text-decoration: none;

}


main {

    text-align: center;
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 21px;
    color: #a4d5d9;
    background-color: #19354370;

}

article{

    margin: 2%;
}

h1 {

    display: inline-block;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    color: #a4d5d9;
    background-color: #19354386;

}

h2 {
    
    width: fit-content;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    padding: 20px;
    background-color: #19354386;

}

.cont-h {

    text-align: center;
}

.datos {

    list-style: none;
}

p {

    background-color: #19354386;
}

.fotogrande {

    height: 500px
}

footer {

    text-align: center;
    background-color: #112633;
    color: #a4d5d9;
}

.contact {
    list-style: none;
}

.listas-foot {

    display: flex;
    justify-content: center;
}

.social {

    height: 200px
}

a {
     color: #a4d5d9;
     text-decoration: none;
}
